<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>

    <add name="BusStationManagment" connectionString="Server=NOTI-TONI\SQL;Database=Statcioni i autobusave;User ID=sa;password=sa"/>
  
    <add name="MiftariBusStationManagment" connectionString="Server=NOTI-TONI\SQL;Database=Statcioni i autobusave;User ID=sa;password=sa"/>
  
    <add name="OltiBusStationManagment" connectionString="Server=NOTI-TONI\SQL;Database=Statcioni i autobusave;User ID=sa;password=sa"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>